# React Native
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Logs
logs
*.log
*.log.*

# Metro bundler cache
.expo
.expo-shared
.expo/*
.expo-shared/*
.expo/web-build

# React Native / Metro
.buckconfig.local
.buckd/
.buckversion
.buckconfig

# Android
android/.gradle/
android/app/build/
android/build/
*.apk
*.keystore

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Xcode
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
tmp/
temp/
.cache/


vendor/bundle